/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}

a {
	color: inherit;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
	background: #FFFEF8;

}

.container {
	max-width: 1140px;
	margin: auto;
	display: flex;
	flex-direction: column;
	min-height: 90vh;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;

}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
	height: 405px;
	object-fit: cover;

}

.logInPage {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-content: center;
}

#contact {
	width: 50%;
	margin: auto;
}

#logIn {
	width: 379px;
}

#contact>*,
#logIn>* {
	text-align: center;

}

#contact h2,
#logIn h2 {
	margin-bottom: 20px;
}

#contact form,
#logIn form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input,
#logIn input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label,
#logIn label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#logIn a {
	text-align: center;
	text-decoration: underline;

}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	transition: 0.2s ease;
}

input[type="submit"]:hover {
	background-color: #0E2F28;
}

footer {
	height: 60px;
	background-color: white;
	width: 100%;
	margin-top: auto;

}

footer nav ul {
	height: 60px;
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}

/* Message erreur login */

#verifierDonnées {
	font-size: 20px;
	color: red;
}

/* Btns filtres parametres */

.filtres {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 25px;
	align-items: center;
	justify-content: center;
	padding-bottom: 40px;
}

.filtres button {
	min-width: 100px;
	font-family: 'Syne';
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	border-radius: 25px;
	padding: 10px;
	border-color: #1D6154;
	border-style: solid;
	transition: 0.2s ease;
	color: #1D6154;
}

.filtres button.active,
.filtres button:hover {
	color: white;
	background-color: #1D6154;
}

/* editor-bar */
.editor-bar {
	width: 100%;
	color: white;
	background-color: black;
	font-family: Work Sans;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 2;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 11px;
}

/* gallery icone+modifier */

#portfolio {
	position: relative;
}

.titleMod {
	position: relative;
	text-align: center;
}

.titleMod h2 {
	display: inline-block;
}

.titleMod .modifiercontainer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(135%, -150%);
	display: flex;
	align-items: center;
	cursor: pointer;
	gap: 11px;
}

/* overlay modale */

.modal-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 9998;
}

/* modale */

.modal {
	display: none;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	z-index: 9999;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	border-radius: 15px;
	padding: 20px;
	width: 630px;
	height: 688px;
	overflow: auto;


}

.gallery-h2 {
	text-align: center;
	color: #000;
	text-align: center;
	font-family: 'Work Sans';
	font-size: 26px;
	font-weight: 400;
}

/* Grid Thumbs */
.gallery-content {
	display: grid;
	grid-template-columns: repeat(5, 78px);
	gap: 25px 6.25px;
	justify-content: center;
	align-items: center;
}

.thumbnail {
	position: relative;
	box-sizing: border-box;
	overflow: hidden;
}

.thumbnail img {
	width: 100%;
	height: 102px;
	object-fit: cover;
	border-radius: 0;
}

/* Thumbs Trash */
.thumbnail i {
	position: absolute;
	top: 5px;
	right: 5px;
	color: white;
	cursor: pointer;
	width: 17px;
	height: 17px;
	background-color: black;
	border-radius: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 9px;
}

.ligne {
	width: 420px;
	height: 1px;
	background: #B3B3B3;
	;
}

#ajout-photo {
	width: 237px;
	font-family: 'Syne';
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	border-radius: 25px;
	padding: 10px;
	border-color: #1D6154;
	border-style: solid;
	transition: 0.2s ease;
	color: white;
	background-color: #1D6154;
}

.modal2 {
	display: none;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	z-index: 9999;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	border-radius: 15px;
	padding-top: 0;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 40px;
	width: 630px;
	height: 688px;
	overflow: auto;
}

.ico {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	font-size: 20px;
}

.ico .fa-solid {
	cursor: pointer;
}

.img-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;

}

.upload-img-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 13px;
	width: 420px;
	height: 169px;
	border-radius: 3px;
	background: #E8F1F6;
}

.upload-img-container img {
	width: auto;
	max-height: 100%;
	border-radius: 3px;
}

.upload-img-container i {
	font-size: 50px;
	color: #CBD6DC;
}

.upload-img-container p {
	color: #444;
	text-align: center;
	font-family: 'Work Sans';
	font-size: 10px;
	font-weight: 400;
}

.blackbox {
	position: absolute;
	top: 5px;
	right: 5px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	background: black;
	border-radius: 5px;
	width: 18px;
	height: 20px;
}

.btn-up-photo {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    width: 173px;
    font-family: 'Work Sans';
    font-size: 14px;
    font-weight: 500;
    border-radius: 50px;
    padding: 10px;
    border: 1px solid #CBD6DC;
    color: #306685;
    background-color: #CBD6DC;
    /* cursor: pointer; */
    transition: 0.2s ease;
}

#up-photo {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    /* cursor: pointer; */
	display: none;
}

.btn-up-photo:hover {
    box-shadow: 0px 4px 14px 0px #306685;
}


.info-img {
	width: 420px;
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	gap: 21px;
	color: #3D3D3D;
	font-family: 'Work Sans';
	font-size: 14px;
	font-weight: 500;
}

#titre,
#dropdown {
	height: 51px;
	border: none;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
}

#valider {
	width: 237px;
	font-family: 'Syne';
	font-size: 14px;
	font-weight: 700;
	border-radius: 50px;
	padding: 10px;
	border-color: #A7A7A7;
	border-style: solid;
	transition: 0.2s ease;
	color: #FFF;
	background-color: #A7A7A7;

}